@charset "UTF-8";
body {
  background-color: rgb(21, 21, 21);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  height: 4600px;
}
.container-fluid .name-color {
  color: #FFFFFF;
}
.container-fluid .tg-bot {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-fluid .tg-bot .theme-tg-bot {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.05em;
  color: white;
}
.container-fluid .tg-bot .info-bot {
  width: 110vh;
  height: 30vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(0deg, #222222, #222222);
  border: 4px solid;
  -o-border-image: linear-gradient(to right, rgb(237, 168, 255), rgb(193, 62, 228)) 1;
     border-image: linear-gradient(to right, rgb(237, 168, 255), rgb(193, 62, 228)) 1;
}
.container-fluid .tg-bot .info-bot .picture {
  height: 100%;
  width: 25%;
  border-radius: 35px;
  background-image: url(./img/franko.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.container-fluid .tg-bot .info-bot .info-text {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.container-fluid .tg-bot .info-bot .info-text .first-info-text {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.container-fluid .tg-bot .info-bot .info-text .first-info-text .quote {
  margin-left: -30px;
  margin-bottom: -20px;
}
.container-fluid .tg-bot .info-bot .info-text .second-info-text {
  height: 80%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container-fluid .tg-bot .info-bot .info-text .second-info-text .txt-second-info {
  background-image: linear-gradient(to right, rgb(232, 200, 240), rgb(250, 133, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}
.container-fluid .tg-bot .info-bot .info-text .third-info-text {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-fluid .tg-bot .info-bot .info-text .third-info-text .txt-third-info {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: left;
  background-image: linear-gradient(to right, rgb(232, 200, 240), rgb(250, 133, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*                HEADER                */
.header {
  height: 100px;
  width: 60%;
  margin: auto;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid white;
  border-top: 0px;
}
.header .text-div {
  height: 100%;
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .text-div .text-header-home {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
}
.header .text-div a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 15px;
  color: white;
  line-height: 15px;
}
.header .text-div p {
  font-family: Montserrat;
  font-size: 15px;
  color: white;
  line-height: 15px;
}

/*              MAIN-CONTENT            */
.dim-franka {
  width: 75%;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
}
.dim-franka .dim-f-text {
  width: 60%;
  height: 100%;
}
.dim-franka .dim-f-text .dim-f-text1 {
  height: 45%;
  width: 100%;
}
.dim-franka .dim-f-text .dim-f-text1 .dim-franka-p1 {
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 81px;
  color: white;
}
.dim-franka .dim-f-text .dim-f-text1 .dim-franka-p2 {
  /* Для Safari/Chrome */
  background: linear-gradient(45deg, rgb(232, 200, 240), rgb(250, 133, 245));
  /* Стандартний синтаксис */
  -webkit-background-clip: text;
  /* Дозволяємо обрізання фону за текстом для Safari/Chrome */
  background-clip: text;
  /* Дозволяємо обрізання фону за текстом */
  color: transparent;
  /* Робимо текст прозорим, щоб був видимий тільки градієнт */
  text-align: center;
  line-height: 22.5px;
  font-weight: 400;
  font-size: 25px;
  font-family: Montserrat;
  margin-top: 20px;
}
.dim-franka .dim-f-text .dim-f-text2 {
  height: 40%;
  width: 100%;
}
.dim-franka .dim-f-text .dim-f-text2 .icons-row {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.dim-franka .dim-f-text .dim-f-text2 .adress {
  width: 100%;
  height: 30%;
}
.dim-franka .dim-f-text .dim-f-text2 .adress .adress-p {
  font-size: 12px;
  font-family: Montserrat;
  line-height: 12px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50px;
}
.dim-franka .dim-f-photo {
  width: 50%;
  height: 100%;
  background-image: url(/img/frankopict.png);
  background-size: cover;
  border-radius: 42px;
}

/*            3D MODELS INFO            */
.mod3 {
  margin: 50px auto;
  height: 500px;
  width: 75%;
  display: flex;
}
.mod3 .models-3d-text {
  width: 70%;
  height: 100%;
}
.mod3 .models-3d-text .h1-3dmodel {
  text-align: right;
  color: white;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin-top: 25px;
  font-family: Montserrat;
}
.mod3 .models-3d-text .text-3dmodel {
  /* Для Safari/Chrome */
  background: linear-gradient(45deg, rgb(232, 200, 240), rgb(250, 133, 245));
  /* Стандартний синтаксис */
  -webkit-background-clip: text;
  /* Дозволяємо обрізання фону за текстом для Safari/Chrome */
  background-clip: text;
  /* Дозволяємо обрізання фону за текстом */
  color: transparent;
  /* Робимо текст прозорим, щоб був видимий тільки градієнт */
  font-family: Montserrat;
  font-size: 25px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: 150px;
}
.mod3 .models-3d-text .ul-3dmodel {
  /* Для Safari/Chrome */
  background: linear-gradient(45deg, rgb(232, 200, 240), rgb(250, 133, 245));
  /* Стандартний синтаксис */
  -webkit-background-clip: text;
  /* Дозволяємо обрізання фону за текстом для Safari/Chrome */
  background-clip: text;
  /* Дозволяємо обрізання фону за текстом */
  color: transparent;
  /* Робимо текст прозорим, щоб був видимий тільки градієнт */
  margin-left: 140px;
  font-size: 25px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 37.5px;
}
.mod3 .models-3d-text .text-3dmodel-adress {
  /* Для Safari/Chrome */
  background: linear-gradient(45deg, rgb(232, 200, 240), rgb(250, 133, 245));
  /* Стандартний синтаксис */
  -webkit-background-clip: text;
  /* Дозволяємо обрізання фону за текстом для Safari/Chrome */
  background-clip: text;
  /* Дозволяємо обрізання фону за текстом */
  color: transparent;
  /* Робимо текст прозорим, щоб був видимий тільки градієнт */
  font-weight: 400;
  font-size: 20px;
  font-family: Montserrat;
  line-height: 18px;
  margin-left: 180px;
  margin-top: 40px;
}
.mod3 .models-3d-text .text-3dmodel-adress a {
  /* Для Safari/Chrome */
  background: linear-gradient(45deg, rgb(232, 200, 240), rgb(250, 133, 245));
  /* Стандартний синтаксис */
  -webkit-background-clip: text;
  /* Дозволяємо обрізання фону за текстом для Safari/Chrome */
  background-clip: text;
  /* Дозволяємо обрізання фону за текстом */
  color: transparent;
  /* Робимо текст прозорим, щоб був видимий тільки градієнт */
  font-weight: 400;
  font-size: 20px;
  font-family: Montserrat;
  line-height: 18px;
  text-decoration: none;
}
.mod3 .models-3d-photo {
  width: 30%;
  height: 100%;
  background-image: url(/img/sova.jpg);
}

/*              3D MODELS               */
.first-model {
  width: 45%;
  height: 612px;
  margin: 0 auto;
}
.first-model .number1 {
  width: 100%;
  height: 100px;
}
.first-model .models-and-notif1 {
  width: 100%;
  height: 525px;
  display: flex;
}
.first-model .models-and-notif1 .model1 {
  width: 50%;
  height: 525px;
  display: flex;
  align-items: flex-end;
}
.first-model .models-and-notif1 .model1 #ar-prompt {
  display: none;
}
.first-model .models-and-notif1 .model1 model-viewer {
  width: 100%;
  height: 60%;
  border-radius: 35px;
  background-image: linear-gradient(to right, rgb(237, 168, 255), rgb(193, 62, 228));
}
.first-model .models-and-notif1 .not1 {
  width: 50%;
  height: 525px;
}
.first-model .models-and-notif1 .not1 .model-message1 {
  width: 100%;
  height: 210px;
  background-color: rgb(38, 38, 38);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-model .models-and-notif1 .not1 .model-message1 .model-name1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  line-height: 19.8px;
  color: white;
  margin-bottom: 10px;
}
.first-model .models-and-notif1 .not1 .model-message1 .model-info1 {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 13.5px;
  color: white;
}
.first-model .models-and-notif1 .not1 .model-message1 .down-arrowmodel1 {
  margin-top: 10px;
}
.first-model .models-and-notif1 .not1 .down-border1 {
  width: 100%;
  height: 315px;
  position: relative;
}
.first-model .models-and-notif1 .not1 .down-border1::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}
.first-model .models-and-notif1 .not1 .down-border1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}

.second-model {
  width: 45%;
  height: 612px;
  margin: 120px auto;
}
.second-model .number2 {
  width: 100%;
  height: 100px;
}
.second-model .models-and-notif2 {
  width: 100%;
  height: 525px;
  display: flex;
}
.second-model .models-and-notif2 .model2 {
  width: 50%;
  height: 525px;
  display: flex;
  align-items: flex-end;
}
.second-model .models-and-notif2 .model2 #ar-prompt {
  display: none;
}
.second-model .models-and-notif2 .model2 model-viewer {
  width: 100%;
  height: 60%;
  border-radius: 35px;
  background-image: linear-gradient(to right, rgb(237, 168, 255), rgb(193, 62, 228));
}
.second-model .models-and-notif2 .not2 {
  width: 50%;
  height: 525px;
}
.second-model .models-and-notif2 .not2 .model-message2 {
  width: 100%;
  height: 210px;
  background-color: rgb(38, 38, 38);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-model .models-and-notif2 .not2 .model-message2 .model-name2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  line-height: 19.8px;
  color: white;
  margin-bottom: 10px;
}
.second-model .models-and-notif2 .not2 .model-message2 .model-info2 {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 13.5px;
  color: white;
}
.second-model .models-and-notif2 .not2 .model-message2 .down-arrowmodel2 {
  margin-top: 10px;
}
.second-model .models-and-notif2 .not2 .down-border2 {
  width: 100%;
  height: 315px;
  position: relative;
}
.second-model .models-and-notif2 .not2 .down-border2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}
.second-model .models-and-notif2 .not2 .down-border2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}

.third-model {
  width: 45%;
  height: 612px;
  margin: 120px auto;
}
.third-model .number3 {
  width: 100%;
  height: 100px;
}
.third-model .models-and-notif3 {
  width: 100%;
  height: 525px;
  display: flex;
}
.third-model .models-and-notif3 .model3 {
  width: 50%;
  height: 525px;
  display: flex;
  align-items: flex-end;
}
.third-model .models-and-notif3 .model3 #ar-prompt {
  display: none;
}
.third-model .models-and-notif3 .model3 model-viewer {
  width: 100%;
  height: 60%;
  border-radius: 35px;
  background-image: linear-gradient(to right, rgb(237, 168, 255), rgb(193, 62, 228));
}
.third-model .models-and-notif3 .not3 {
  width: 50%;
  height: 525px;
}
.third-model .models-and-notif3 .not3 .model-message3 {
  width: 100%;
  height: 210px;
  background-color: rgb(38, 38, 38);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-model .models-and-notif3 .not3 .model-message3 .model-name3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  line-height: 19.8px;
  color: white;
  margin-bottom: 10px;
}
.third-model .models-and-notif3 .not3 .model-message3 .model-info3 {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 13.5px;
  color: white;
}
.third-model .models-and-notif3 .not3 .model-message3 .down-arrowmodel3 {
  margin-top: 10px;
}
.third-model .models-and-notif3 .not3 .down-border3 {
  width: 100%;
  height: 315px;
  position: relative;
}
.third-model .models-and-notif3 .not3 .down-border3::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}
.third-model .models-and-notif3 .not3 .down-border3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}

.fourth-model {
  width: 45%;
  height: 612px;
  margin: 120px auto;
}
.fourth-model .number4 {
  width: 100%;
  height: 100px;
}
.fourth-model .models-and-notif4 {
  width: 100%;
  height: 525px;
  display: flex;
}
.fourth-model .models-and-notif4 .model4 {
  width: 50%;
  height: 525px;
  display: flex;
  align-items: flex-end;
}
.fourth-model .models-and-notif4 .model4 #ar-prompt {
  display: none;
}
.fourth-model .models-and-notif4 .model4 model-viewer {
  width: 100%;
  height: 60%;
  border-radius: 35px;
  background-image: linear-gradient(to right, rgb(237, 168, 255), rgb(193, 62, 228));
}
.fourth-model .models-and-notif4 .not4 {
  width: 50%;
  height: 525px;
}
.fourth-model .models-and-notif4 .not4 .model-message4 {
  width: 100%;
  height: 225px;
  background-color: rgb(38, 38, 38);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourth-model .models-and-notif4 .not4 .model-message4 .model-name4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  line-height: 19.8px;
  color: white;
  margin-bottom: 10px;
}
.fourth-model .models-and-notif4 .not4 .model-message4 .model-info4 {
  text-align: center;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 13.5px;
  color: white;
}
.fourth-model .models-and-notif4 .not4 .model-message4 .down-arrowmodel4 {
  margin-top: 10px;
}
.fourth-model .models-and-notif4 .not4 .down-border4 {
  width: 100%;
  height: 315px;
  position: relative;
}
.fourth-model .models-and-notif4 .not4 .down-border4::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}
.fourth-model .models-and-notif4 .not4 .down-border4::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 40px;
}

.team-member-section {
  width: 100% !important;
  height: 800px;
  background: linear-gradient(to top, rgb(101, 1, 105), rgb(21, 21, 21));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member-section .team-member-h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin-top: 60px;
  color: rgb(232, 232, 232);
}
.team-member-section .team-member-table {
  display: flex;
  width: 55%;
  height: 60%;
  border: 5px solid; /* Ширина бордера */
  border-color: rgb(193, 62, 228);
  border-radius: 20px; /* Заокруглення кутів, якщо потрібно */
}
.team-member-section .team-member-table .team-member-col1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.team-member-section .team-member-table .team-member-col1 .team-member-element-col1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: -5%;
  color: white;
}
.team-member-section .team-member-table .team-member-col1 .team-member-element-col1 .team-member-element-col1-star {
  margin-top: 2px;
  margin-left: 10px;
}
.team-member-section .team-member-table .team-member-col1 .team-member-element-col1 .team-role-span1 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: -5%;
  color: white;
}
.team-member-section .team-member-table .team-member-col2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.team-member-section .team-member-table .team-member-col2 .team-member-element-col2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: -5%;
  color: white;
}
.team-member-section .team-member-table .team-member-col2 .team-member-element-col2 .team-member-element-col2-star {
  margin-top: 2px;
  margin-left: 10px;
}
.team-member-section .team-member-table .team-member-col2 .team-member-element-col2 .team-role-span2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: -5%;
  color: white;
}

.footer {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(101, 1, 105);
}
.footer .black-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(21, 21, 21);
  border-top-left-radius: 117px;
  border-top-right-radius: 117px;
}/*# sourceMappingURL=franko.css.map */